<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Utilities</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
<form method="get" action="/random-color">
  <button type="submit">get an amazing random color</button>
</form>
<a href="/useful/email?email=is@asdaasd"> emailtest</a>
<a href="/useful/email?email=is@asdaa.sd"> emailtest</a>
<form method="get" action="/useful/ceasar">
  <button type="submit">CEASAR</button>
</form>
<h1>ceasars after process</h1>
<ul th:each="ceasar : ${ceasars}">
  <li th:text="${ceasar}"></li>
</ul>
</body>
</html>